:root {
    --profilewidth: 17em;
    --sidebarwidth: 25vw;
    --sidebarcolor: rgb(177, 177, 177);
    --cardwidth: 17em;
    --widecardwidth: 25em;
    --cardheight: 25em;
    --cardborderradius: 1.7em;
    --cardfontsize: 1.2em;
    --contentcardwidth: 50vw;
}

@media (orientation: landscape) {
     :root {
        --cardfontsize: 1.2vw;
        --textcardfontsize: 0.9vw;
    }
}

@media (orientation: portrait) {
     :root {
        --cardfontsize: 3.2vw;
        --textcardfontsize: 3.4vw;
    }
}

a {
    text-decoration: none;
}

html {
    height: 100% !important;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100%;
    margin: 0 !important;
}

#aboutwrapper {
    margin: 0 !important;
    width: 100% !important;
    height: 100%;
    background: #b94242;
}

.aboutcontent {
    float: right;
    display: flex;
    min-width: calc(100% - (var(--profilewidth) + 3vw));
    max-width: calc(100% - var(--sidebarwidth));
    height: 100%;
    background-color: #1DA1F2;
    flex-direction: column;
}

.textwrapper {
    padding-top: 1px;
}

.sidebar {
    float: left;
    max-width: calc(var(--sidebarwidth));
    min-width: calc(var(--profilewidth) + 3vw);
    background-color: var(--sidebarcolor);
    height: 100%;
    vertical-align: top;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    vertical-align: auto;
    box-shadow: inset 2px 1px 20px #00000048;
}

.card {
    border-radius: var(--cardborderradius);
    margin: auto;
    height: var(--cardheight);
    width: var(--cardwidth);
    background: black;
    box-shadow: 2px 2px 5px rgb(100, 100, 100);
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative !important;
}

.widecard {
    width: var(--widecardwidth) !important;
}

.contentcard {
    width: var(--contentcardwidth) !important;
}

#sidebarprofile {
    margin-top: 10vh;
    margin-bottom: 0 !important;
}

.textcard {
    width: fit-content;
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: #f3f3f3;
    text-align: center;
    border-radius: calc(var(--cardborderradius)*0.5) !important;
}

.textcard p {
    font-size: var(--textcardfontsize);
}

#projecttextcard {
    opacity: 0.5;
    width: 90%;
    margin-top: auto;
    margin-bottom: 1em;
}

.card:hover #projecttextcard {
    opacity: 1;
}

.cardborder {
    height: calc(var(--cardheight) - 1.5em);
    width: calc(var(--cardwidth) - 1.5em);
    border-radius: var(--cardborderradius);
    position: relative;
    margin: auto;
    border: 2px rgba(0, 0, 0, 1);
    transition: all 0.5s ease;
    display: flex;
}

.cardborder:hover {
    border: 1px solid white;
    transition: all 0.5s ease-out;
}

.widecardborder {
    width: var(--widecardwidth) !important;
}

.contentcardborder {
    width: calc(var(--contentcardwidth) - 1.5em) !important;
    flex-direction: column;
}

.cardbackground {
    background-size: var(--cardwidth) !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    filter: grayscale(0%);
    transition: all 0.8s;
}

.card:hover .cardbackground {
    background-size: calc(var(--cardwidth)*2) !important;
    filter: grayscale(100%);
    transition: all 0.8s;
}

#background-profile {
    background: url('../images/pp2.png') center center no-repeat;
}

.card:hover #background-profile {
    background: url('../images/pp2.png') left center no-repeat;
}

#bussimbackground {
    background: url(https://cdn.cloudflare.steamstatic.com/steam/apps/976590/capsule_616x353.jpg) center center;
    background-repeat: no-repeat;
    background-size: auto 100% !important;
}

.card:hover #bussimbackground {
    filter: grayscale(0%);
}

.card .title {
    font-size: var(--cardfontsize);
    padding: 0.6em;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 10px #0000002a, inset 0px 0px 10px #0000002a;
    border-radius: 1em;
    line-height: 0.3em;
    margin-top: 0.6em;
    margin-left: 0.4em;
    background-color: rgba(255, 255, 255, 0.363);
    transition: background-color 0.5s;
}

.card:hover .title {
    background-color: rgba(255, 255, 255, 0.800);
    transition: background-color 0.5s;
}


/*Icons*/

.iconwrapper {
    position: absolute;
    fill: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    height: fit-content;
    top: 25%;
    width: fit-content;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.contentcard .iconwrapper {
    top: 55% !important;
}

.icon {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    top: -20%;
    left: -81%;
    min-width: 2.5em;
    max-width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
    transition: all 0.25s ease !important;
    z-index: 3;
}

#icontitle:hover+.icon {
    transform: scale(1.4);
    transition: all 0.25s ease !important;
}

.icon:hover {
    transform: scale(1.4);
    transition: all 0.25s ease !important;
}

#bussimicon {
    background-image: url(https://pbs.twimg.com/profile_images/1293162039679090693/f77diL1t_400x400.jpg);
    background-size: contain;
}

#icontitle {
    color: white;
    margin: auto;
    padding: 0.3em;
    background-color: grey;
    border-radius: 0.5em;
    padding-left: 3em;
    z-index: 2;
}

#facard {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 1s;
    transition: transform 0.4s;
    transition: color 0.25s;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.card:hover .icon {
    opacity: 1;
    transition: opacity 0.5s;
}

.card:hover #facard {
    opacity: 1;
    text-shadow: 1px 1x #b4b4b4;
    transition: all 0.4s;
}

#facard:hover {
    transform: scale(1.6) translateX(15%);
    transition: all 0.4s;
}

.fa-twitter {
    transition: color 0.25s;
}

.fa-twitter:hover {
    color: #1DA1F2 !important;
    transition: color 0.25s;
}

.fa-linkedin {
    transition: color 0.25s;
}

.fa-linkedin:hover {
    color: #0e76a8 !important;
    transition: color 0.25s;
}

.fa-envelope {
    transition: color 0.25s;
}

.fa-envelope:hover {
    color: #b94242 !important;
    transition: color 0.25s;
}

.projectinfo {
    opacity: 0;
    display: inline-flex;
    text-align: center;
    align-content: center;
}

.card:hover .projectinfo {
    opacity: 1;
}