/* Variables */
:root {
  --font-normal: 14px;
  --font-small: 12px;
  --font-smaller: 11px;
  --font-smallest: 10px;
  
  --h1: 1.3em;
  --h2: 1.15em;
  --h3: 1.15em;
  --h4: 1.0em;
  --h5: 1.0em;
  --h6: 1.0em;
  
  --h1-weight: 800;
  --h2-weight: 750;
  --h3-weight: 700;
  --h4-weight: 650;
  --h5-weight: 650;
  --h6-weight: 600;
  
  --h1-color: var(--text-normal);
  --h2-color: var(--text-normal);
  --h3-color: var(--text-normal);
  --h4-color: var(--text-normal);
  --h5-color: var(--text-normal);
  --h6-color: var(--text-muted);
  
  --normal-weight: 300; 
  --bold-weight: 800; 
  --line-width: 40rem; 
  --line-height: 1.5;
  --max-width: 88%; 
  --nested-padding: 3.5%;
  --icon-muted: 0.5;
  --border-width: 1px;
  --border-width-alt: 1px;
  
  --radius-s: 1px;
  --radius-m: 5px;
  --radius-l: 10px;
  
  --input-height: 32px;
  --header-height: 40px;
  
  --yellow: #e5b567;
  --green: #b4d273;
  --orange: #e87d3e;
  --purple: #9e86c8;
  --pink: #b05279;
  --blue: #6c99bb;
}
html {
  scroll-behavior: smooth;
  font-family: "ProximaNova", "Proxima Nova", serif;
}
/* Desktop font sizes */
body {
  --font-adaptive-normal: var(--font-normal);
  --font-adaptive-small: var(--font-small);
  --font-adaptive-smaller: var(--font-smaller);
  --font-adaptive-smallest: var(--font-smallest);
  --line-width-adaptive: var(--line-width);
  padding-top: 2.0em; /* Navbar adjustment*/
  
}

/* Phone font sizes */
@media (max-width: 500pt) {
  .is-mobile {
    --font-adaptive-small: calc(var(--font-small) + 10px);
    --font-adaptive-smaller: calc(var(--font-smaller) + 2px);
    --font-adaptive-smallest: calc(var(--font-smallest) + 2px);
    --max-width: 88%;
  }
}


@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal
}


/* Headers */
h1 {
  font-size: var(--h1);
  color: var(--h1-color);
  font-weight: var(--h1-weight);
  letter-spacing: -0.02em;
}
h2 {
  font-size: var(--h2);
  color: var(--h2-color);
  font-weight: var(--h2-weight);
  letter-spacing: -0.02em;
}
h3 {
  font-size: var(--h3);
  color: var(--h3-color);
  font-weight: var(--h3-weight);
  letter-spacing: -0.02em;
}
h4 {
  font-size: var(--h4);
  color: var(--h4-color);
  font-weight: var(--h4-weight);
  letter-spacing: -0.02em;
}
h5 {
  font-size: var(--h5);
  color: var(--h5-color);
  font-weight: var(--h5-weight);
  letter-spacing: -0.02em;
}
h6 {
  font-size: var(--h6);
  color: var(--h6-color);
  font-weight: var(--h6-weight);
  letter-spacing: -0.02em;
}

div.full {
  position: relative;
  width: 100%;
  height: 200px;
}

div.right{
  position: relative;
  width: 50%;
  float: right;
}
div.left{
  position: relative;
  width: 50%;
  float: left;
}


#navbar {
  z-index: 50;
  overflow: hidden;
  border-radius: 0 0 0.15em 0.15em !important;
  background-color: #333;
  width: 99.8%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0 0 0em 0em;
}


/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  background-color: #444;
  padding: 0.7em 0.7em 0.7em 0.7em;
  font-size: 1.2em;
  text-decoration: none; 
  transition: border-radius 125ms ease-in;
  margin: 0em 0.0em 0.4em .4em;
  border-radius: 0 0 0.2em 0.2em;

}

#navbar a:hover
{
  transform: translateY(-15%);
  border-radius: 0 0 1em 1em;
  color:#ffffff;  
  /*font-weight: bold;*/
  background-color: #444;
}
#navbar a:focus
{
  transform: translateY(-10%);
  border-radius: 0 0 1em 1em;
  color:#f2f2f2;
  /*font-weight: bold;*/
  background-color: #444;
}

.nav-current{
  padding: 0.7em 0.7em 0.9em 0.7em !important;
  background-color: rgb(112, 112, 112) !important;
  margin: 0em 0.0em 0.0em 0.4em !important;;

}

.nav-current:hover{
  padding: 0.7em 0.7em 0.9em 0.7em !important;
  background-color: #444  !important;
  margin: 0em 0.0em 0.0em 0.4em !important;;

}

.socials {  
  z-index: 50;
  overflow: hidden;
  width: 50%;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 0 0 1em 1em;
  padding-right: 1em;
  padding-top: 0.3em;
}

.socials a {
  float:right;
  flex: content;
  color: inherit;
  text-decoration: none;
  transform: translateY(-13%);

}

.socials a:hover {
  transform: translateY(-23%);
}

.socials i{
  padding:1em 0.75em;
  margin:0.1em;
  transition: border-radius 125ms ease-in;
}

.socials i:hover{
  border-radius: 0 0 1em 1em;
}

.fa-twitter {
  color: white;
  background-color: #0085b6;
}
.fa-twitter:hover {
  background-color: #00aced;
}

.fa-linkedin {
  color: white;
  background-color: #0077b5;
}
.fa-linkedin:hover {
  background-color: #008cd8;
}

.fa-github {
  color: white;
  background-color: #7c3399;
}
.fa-github:hover {
  background-color: #ad5cce;
}
.fa-envelope {
  color: white;
  background-color: #0077b5;
}
.fa-envelope:hover {
  background-color: #008cd8;
}

#wrapper {
  border-radius: 1em;
  background-color:powderblue;
}

.skip-nav-link {
  background-color: #4f4f4f;
  padding:  0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  transform: translateY(-220%);
  transition: transform 325ms ease-in;
  z-index: 51;
  color: #ffffff;
}

.skip-nav-link:focus{
  transform: translateY(-100%);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.row {
  padding: 0.1em 0.1em 0.1em 0.5em;
}
.column {
  float: left;
  width: 40%;
  padding-left: 0.7em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.sasbutton {
  border:  none;
  border-radius: 0 0 0.25rem 0.25rem;
  
  display: inline-block;
  height: 34px;
  font-size: 14px;
  color: #d2efa9;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  text-align: center;
  padding: 0px 11px;
  line-height: 34px;
  border-radius: 2px;
  text-transform: unset;
  background: #228db0;
  transition: background 225ms ease-in;
  
}
.sasbutton:hover {
  
  background: #19a4d1;
}


.fancybutton {
  border:  none;
  border-radius: 2px;
  display: inline-block;
  height: 34px;
  font-size: 14px;
  color: #d2efa9;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  text-align: center;
  padding: 0px 11px;
  line-height: 34px;
  border-radius: 2px;
  text-transform: unset;
  background: #75b022;
  
  transition: background 425ms ease-in, border-radius 125ms ease-in, transform 200ms ease-in;
  
}
.fancybutton:hover{
  border:  none;
  border-radius: 2px;
  display: inline-block;
  height: 34px;
  font-size: 14px;
  color: #d2efa9;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  text-align: center;
  padding: 0px 11px;
  line-height: 34px;
  border-radius: 16px;
  transform: translateY(-10%);
  text-transform: unset;
  background: #228db0;
}
.fancybutton:focus{
  outline: none;
  box-shadow: none;
}
.fancybutton:focus-visible{
  border:  none;
  border-radius: 2px;
  display: inline-block;
  height: 34px;
  font-size: 14px;
  color: #d2efa9;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
  text-align: center;
  padding: 0px 11px;
  line-height: 34px;
  border-radius: 2px;
  text-transform: unset;
  background: #75b022;
}

#pp-image {
  width:80%;
  border-radius: 1em;
}

.copyright {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}